
<div class="opacity-50 fixed inset-0 z-40 bg-gray-200"></div>

<div class="fade-in-anim relative w-full h-full max-h-full overflow-hidden flex flex-col">
  
  <div class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <div class="relative  ">
      <!--content-->
      <div
        class="relative rounded-300 border-[1px] border-default-border-default shadow-md  flex flex-col w-full bg-white outline-none focus:outline-none">
        
        <!--body-->
        <ng-content></ng-content>
       
      </div>
    </div>
  </div>

</div>