<div class="relative w-full h-screen flex items-center justify-center">
    <!-- Blue div -->
    <div class="bg-[#d8e6ea] w-[500px] h-96 rounded-lg relative z-20">
        <p class="text-white text-center pt-24">This is my travel blog.please stay tuned for my updates</p>

        <!-- Red div -->
        <div class="bg-[#9dacb2] w-72 h-72  rounded-lg absolute z-10 top-[53%] right-[35%] transform -translate-x-1/2 -translate-y-1/2">
            <p class="text-white text-center pt-16">div 2</p>
        </div>
    </div>
</div>