<div class="flex flex-col">
    <p class="p-4">INSTAGRAM</p>
    <hr class="border-2 border-gray-300 mt-0 mx-4 mb-4">
    <div class="flex flex-col gap-2 p-4">
        <div class="flex justify-between gap-2 w-full">
            <span>
                <img src="assets/img/background.jpg" class="h-32 w-auto">
            </span>
            <span>
                <img src="assets/img/background.jpg" class="h-32 w-auto">
            </span>
        </div>
        <div class="flex justify-between gap-2 w-full">
            <span>
                <img src="assets/img/background.jpg" class="h-32 w-auto">
            </span>
            <span>
                <img src="assets/img/background.jpg" class="h-32 w-auto">
            </span>
        </div>
        <div class="flex justify-between gap-2 w-full">
            <span>
                <img src="assets/img/background.jpg" class="h-32 w-auto">
            </span>
            <span>
                <img src="assets/img/background.jpg" class="h-32 w-auto">
            </span>
        </div>
        <div class="flex justify-between gap-2 w-full">
            <span>
                <img src="assets/img/background.jpg" class="h-32 w-auto">
            </span>
            <span>
                <img src="assets/img/background.jpg" class="h-32 w-auto">
            </span>
        </div>

    </div>
</div>
