<!-- 
  <div class=" px-24 pt-10">
      <p>PLACES VISITED</p>
      <hr class="border-2 border-gray-300 my-4">
</div> -->
<div class="flex flex-col gap-6 px-24 pt-10">
  <p class="text-4xl font-bold text-center">Our Popular Cities</p>
  <p class="text-md font-normal text-center pr-48 pl-48 leading-7">
    Welcome to my travel blog, where every journey is a story waiting to be told! Join me as I embark on an
    unforgettable adventure through three incredible countries: India, China, and Germany.

    In India, immerse yourself in a vibrant tapestry of cultures, colors, and flavors. From the majestic Taj Mahal to
    the bustling streets of Delhi, each corner offers a glimpse into a rich heritage that is both ancient and modern.

    Traveling to China
  </p>

</div>

<div class="pb-24 pr-48 pl-48 pt-6">

  <ngx-slick-carousel class="carousel  items-center" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem class="justify-center items-start">
      <div class="flex flex-col justify-center items-center gap-2">
        <div class="flex flex-col shadow-sm">
          <img src="assets/img/banner.jpg" class="rounded-md h-[250px] object-cover" alt="" loading="lazy">
          <p class="text-sm font-bold p-2 text-center">ZAKYNTHOS ISLAND GUIDE FOR GREECE</p>
        </div>
      </div>
    </div>

    <div ngxSlickItem class="justify-center items-start ">
      <div class="flex flex-col justify-center items-center gap-2">
        <div class="flex flex-col shadow-sm ">
          <img src="assets/img/banner1.jpg" class="rounded-md h-[250px]" alt="" srcset="" loading="lazy">
          <p class="text-sm font-bold p-2 text-center">CAPPADOCIA TURKEY TRAVEL GUIDE</p>
        </div>
        <div>

        </div>

      </div>
    </div>

    <div ngxSlickItem class="justify-center items-start ">
      <div class="flex flex-col justify-center items-center gap-2">
        <div class="flex flex-col shadow-sm ">
          <img src="assets/img/banner2.jpg" class="rounded-md h-[250px]" alt="" srcset="" loading="lazy">
          <p class="text-sm font-bold p-2 text-center">1 DAY ITINERARY FOR YOSEMITE</p>
        </div>
        <div>

        </div>

      </div>
    </div>

    <div ngxSlickItem class="justify-center items-start ">
      <div class="flex flex-col justify-center items-center gap-2">
        <div class="flex flex-col shadow-sm ">
          <img src="assets/img/banner3.jpg" class="rounded-md h-[250px]" alt="" srcset="" loading="lazy">
          <p class="text-sm font-bold p-2 text-center">CAPPADOCIA TURKEY TRAVEL GUIDE</p>
        </div>

      </div>
    </div>

    <div ngxSlickItem class="justify-center items-start ">
      <div class="flex flex-col justify-center items-center gap-2">
        <div class="flex flex-col shadow-sm ">
          <img src="assets/img/banner4.jpg" class="rounded-md h-[250px]" alt="" srcset="" loading="lazy">
          <p class="text-sm font-bold p-2 text-center">CAPPADOCIA TURKEY TRAVEL GUIDE</p>
        </div>

      </div>
    </div>

    <div ngxSlickItem class="justify-center items-start ">
      <div class="flex flex-col justify-center items-center gap-2">
        <div class="flex flex-col shadow-sm ">
          <img src="assets/img/banner5.jpg" class="rounded-md h-[250px]" alt="" srcset="" loading="lazy">
          <p class="text-sm font-bold p-2 text-center">CAPPADOCIA TURKEY TRAVEL GUIDE</p>
        </div>
      </div>
    </div>
    <div ngxSlickItem class="justify-center items-start ">
      <div class="flex flex-col justify-center items-center gap-2">
        <div class="flex flex-col shadow-sm ">
          <img src="assets/img/banner6.jpg" class="rounded-md h-[250px]" alt="" srcset="" loading="lazy">
          <p class="text-sm font-bold p-2 text-center">CAPPADOCIA TURKEY TRAVEL GUIDE</p>
        </div>
      </div>
    </div>
    <div ngxSlickItem class="justify-center items-start ">
      <div class="flex flex-col justify-center items-center gap-2">
        <div class="flex flex-col shadow-sm ">
          <img src="assets/img/banner7.jpg" class="rounded-md h-[250px]" alt="" srcset="" loading="lazy">
          <p class="text-sm font-bold p-2 text-center">CAPPADOCIA TURKEY TRAVEL GUIDE</p>
        </div>
      </div>
    </div>
    <div ngxSlickItem class="justify-center items-start ">
      <div class="flex flex-col justify-center items-center gap-2">
        <div class="flex flex-col shadow-sm ">
          <img src="assets/img/banner8.jpg" class="rounded-md h-[250px]" alt="" srcset="" loading="lazy">
          <p class="text-sm font-bold p-2 text-center">CAPPADOCIA TURKEY TRAVEL GUIDE</p>
        </div>
      </div>
    </div>
    <div ngxSlickItem class="justify-center items-start ">
      <div class="flex flex-col justify-center items-center gap-2">
        <div class="flex flex-col shadow-sm ">
          <img src="assets/img/banner9.jpg" class="rounded-md h-[250px]" alt="" srcset="" loading="lazy">
          <p class="text-sm font-bold p-2 text-center">CAPPADOCIA TURKEY TRAVEL GUIDE</p>
        </div>
      </div>
    </div>
    <div ngxSlickItem class="justify-center items-start ">
      <div class="flex flex-col justify-center items-center gap-2">
        <div class="flex flex-col shadow-sm ">
          <img src="assets/img/banner10.jpg" class="rounded-md h-[250px]" alt="" srcset="" loading="lazy">
          <p class="text-sm font-bold p-2 text-center">CAPPADOCIA TURKEY TRAVEL GUIDE</p>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>

</div>