
  <div class="p-24">
    <ngx-slick-carousel class="carousel  items-center" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem class="justify-center items-start">
          <div  class="flex flex-col justify-center items-center gap-2">
              <div class="shadow-sm ">
                  <img src="assets/img/background.jpg" class="rounded-2xl" alt="" srcset="" loading="lazy">
              </div>
          </div>
        </div>
  
        <div ngxSlickItem class="justify-center items-start ">
          <div class="flex flex-col justify-center items-center gap-2">
              <div class="shadow-sm">
                  <img src="assets/img/background.jpg" class="rounded-2xl" alt="" srcset="" loading="lazy">
              </div>
              <div>
         
              </div>
  
          </div>
        </div>
  
        <div ngxSlickItem class="justify-center items-start ">
          <div class="flex flex-col justify-center items-center gap-2">
              <div class="shadow-sm">
                  <img src="assets/img/background.jpg" class="rounded-2xl" alt="" srcset="" loading="lazy">
              </div>
  
          </div>
        </div>
  
        <div ngxSlickItem class="justify-center items-start ">
          <div class="flex flex-col justify-center items-center gap-2">
              <div class="shadow-sm">
                  <img src="assets/img/background.jpg" class="rounded-2xl" alt="" srcset="" loading="lazy">
              </div>
  
          </div>
        </div>
  
        <div ngxSlickItem class="justify-center items-start ">
          <div  class="flex flex-col justify-center items-center gap-2">
              <div class=" shadow-sm">
                  <img src="assets/img/background.jpg" class="rounded-2xl" alt="" srcset="" loading="lazy">
              </div>  
          </div>
        </div>
      </ngx-slick-carousel>
  
  </div>  


 
