<div class="flex justify-center w-full px-24 pb-24">
    <div class="w-3/4 px-10">
        <p>RECENT POSTS</p>
        <hr class="border-2 border-gray-300 my-4">
        <div class="flex flex-col gap-6">
            <div class="flex pt-2 gap-6 ">
                <div class="flex flex-col w-1/2 items-center">
                    <img src="assets/img/italy1.jpg" class="rounded-md w-full h-72">
                    <p class="text-lg font-bold p-4 text-center">Climbing Mount Karangetang Volcano In Siau, Sulawesi
                    </p>
                    <button
                        class="px-4 py-2 text-center bg-[#e99031] rounded-md text-white  hover:bg-[#d58e26] transition-colors">Read
                        More</button>
                </div>
                <div class="w-1/2 flex flex-col items-center gap-1 ">
                    <div class="flex justify-center gap-1">
                        <span> <img src="assets/img/food1.jpg" class=""></span>
                        <span> <img src="assets/img/food2.jpg"></span>
                    </div>
                    <div class="flex justify-center gap-1">
                        <span> <img src="assets/img/food2.jpg"></span>
                        <span> <img src="assets/img/food2.jpg"></span>
                    </div>

                    <p class="text-lg font-bold p-4 text-center">Climbing Mount Karangetang Volcano In Siau, Sulawesi
                    </p>
                    <button
                        class="px-4 py-2 text-center bg-[#e99031] rounded-md text-white  hover:bg-[#d58e26] transition-colors">Read
                        More</button>
                </div>
            </div>

            <div class="flex pt-2 gap-6 ">
                <div class="flex flex-col w-1/2 items-center">
                    <img src="assets/img/italy2.jpg" class="rounded-md w-full h-72">
                    <p class="text-lg font-bold p-4 text-center">Climbing Mount Karangetang Volcano In Siau, Sulawesi
                    </p>
                    <button
                        class="px-4 py-2 text-center bg-[#e99031] rounded-md text-white  hover:bg-[#d58e26] transition-colors">Read
                        More</button>
                </div>
                <div class="flex flex-col w-1/2 items-center">
                    <img src="assets/img/italy3.jpg" class="rounded-md w-full h-72">
                    <p class="text-lg font-bold p-4 text-center">Climbing Mount Karangetang Volcano In Siau, Sulawesi
                    </p>
                    <button
                        class="px-4 py-2 text-center bg-[#e99031] rounded-md text-white  hover:bg-[#d58e26] transition-colors">Read
                        More</button>
                </div>
            </div>

            <div class="flex pt-2 gap-6 ">
                <div class="flex flex-col w-1/2 items-center">
                    <img src="assets/img/italy4.jpg" class="rounded-md w-full h-72">
                    <p class="text-lg font-bold p-4 text-center">Climbing Mount Karangetang Volcano In Siau, Sulawesi
                    </p>
                    <button
                        class="px-4 py-2 text-center bg-[#e99031] rounded-md text-white  hover:bg-[#d58e26] transition-colors">Read
                        More</button>
                </div>
                <div class="flex flex-col w-1/2 items-center">
                    <img src="assets/img/italy5.jpg" class="rounded-md w-full h-72">
                    <p class="text-lg font-bold p-4 text-center">Climbing Mount Karangetang Volcano In Siau, Sulawesi
                    </p>
                    <button
                        class="px-4 py-2 text-center bg-[#e99031] rounded-md text-white  hover:bg-[#d58e26] transition-colors">Read
                        More</button>
                </div>
            </div>
            
            <div class="flex pt-2 gap-6 ">
                <div class="flex flex-col w-1/2 items-center">
                    <img src="assets/img/romania1.jpg" class="rounded-md w-full h-72">
                    <p class="text-lg font-bold p-4 text-center">Climbing Mount Karangetang Volcano In Siau, Sulawesi
                    </p>
                    <button
                        class="px-4 py-2 text-center bg-[#e99031] rounded-md text-white  hover:bg-[#d58e26] transition-colors">Read
                        More</button>
                </div>
                <div class="flex flex-col w-1/2 items-center">
                    <img src="assets/img/romania2.jpg" class="rounded-md w-full h-72">
                    <p class="text-lg font-bold p-4 text-center">Climbing Mount Karangetang Volcano In Siau, Sulawesi
                    </p>
                    <button
                        class="px-4 py-2 text-center bg-[#e99031] rounded-md text-white  hover:bg-[#d58e26] transition-colors">Read
                        More</button>
                </div>
                
            </div>
        </div>

    </div>
    <div class="flex flex-col w-1/4 gap-8">
        <div class="bg-gray-200 border border-gray-300 w-full  shadow-sm">
         <app-about-me></app-about-me>
        </div>
        <div class="bg-gray-200 border border-gray-300 w-full shadow-sm">
    <app-social-info></app-social-info>
        </div>

        <div class="bg-gray-200 border border-gray-300 w-full shadow-sm">
            <app-insta-post></app-insta-post>
        </div>
        <div class="bg-gray-200 border border-gray-300 w-full shadow-sm">
       <app-search></app-search>
        </div>
    </div>