<div class="flex flex-col">
    <p class="p-4">ABOUT ME</p>
    <hr class="border-2 border-gray-300 mt-0  mx-4 mb-4">
    <div class="flex justify-center p-2"><img src="assets/img/mypic.jpg"
            class="w-60 h-60 rounded-full"></div>
    <div class="flex flex-col p-4 gap-4">
        <span>Hey there! I'm Gladis Jesy M, an Indian who has been traveling the world full time for few
            years now.</span>
        <span>My husband cibil and I are usually in our second home Germany, but our journeys take us to
            destinations all over the world.</span>
        <span>Please tag along!</span>
    </div>

</div>
