<header class="nav_bg  pt-2">
    <nav class="flex items-center justify-between px-12 h-16">
        <a href="#" class="text-2xl font-bold text-white"> Diary</a>
        <div class=" flex  space-x-8 items-center"> 
            <ul class="flex space-x-6 text-white ">
                <li class="hover:text-orange-400">Home</li>
                <li class="hover:text-orange-400">Blog</li>
                <li class="hover:text-orange-400">Destinations</li>
                <li class="hover:text-orange-400">Categories</li>
                <li class="hover:text-orange-400">Gallery</li>
                <li class="hover:text-orange-400">About</li>

            </ul>
            <div class="flex space-x-4">
                <button class="px-4 py-2 bg-[#e99031] rounded-full text-white">Contact</button>

            </div>
            <div></div>
        </div>
    </nav>
</header>

