<div class=" bg-white">
    <p>Backpack Traveler</p>
<div class="flex justify-center">
    <div class="flex flex-col items-center px-8 md:px-16 w-full max-w-6xl">
        <div>
            <img src="assets/img/background.jpg" alt="Background Image" class="w-full h-auto">
        </div>
        <div class="flex flex-col gap-4 p-24">
            <p class="text-center cursive font-bold italic text-2xl">Details of the page</p>
            <p class="text-start leading-6 text-xs font-serif">
                In India, immerse yourself in a vibrant tapestry of cultures, colors, and flavors. From the majestic Taj Mahal to the bustling streets of Delhi, each corner offers a glimpse into a rich heritage that is both ancient and modern.
                Traveling to China opens the door to breathtaking landscapes and timeless traditions.  Stand in awe of the Great Wall, wander through the serene gardens of Suzhou, and experience the culinary delights that showcase the country’s diverse regions.
                And then, there's Germany, known for its rich history, stunning architecture, and delicious cuisine. Explore the fairytale castles, vibrant cities like Berlin and Munich, and the picturesque countryside.
                <p class="text-start leading-6 text-xs font-serif">
                Stand in awe of the Great Wall, wander through the serene gardens of Suzhou, and experience the culinary delights that showcase the country’s diverse regions.
                And then, there's Germany, known for its rich history, stunning architecture, and delicious cuisine. Explore the fairytale castles, vibrant cities like Berlin and Munich, and the picturesque countryside.
                Stand in awe of the Great Wall, wander through the serene gardens of Suzhou, and experience the culinary delights that showcase the country’s diverse regions.
                And then, there's Germany, known for its rich history, stunning architecture, and delicious cuisine. Explore the fairytale castles, vibrant cities like Berlin and Munich, and the picturesque countryside.

            </p>
            <p class="leading-7 text-2xl font-normal italic text-center cursive p-6">
                Stand in awe of the Great Wall, wander through the serene gardens of Suzhou, experience the culinary
            </p>
            <p class="text-start leading-6 text-xs font-serif">
                Stand in awe of the Great Wall, wander through the serene gardens of Suzhou, and experience the culinary delights that showcase the country’s diverse regions.
                And then, there's Germany, known for its rich history, stunning architecture, and delicious cuisine. Explore the fairytale castles, vibrant cities like Berlin and Munich, and the picturesque countryside.
                Stand in awe of the Great Wall, wander through the serene gardens of Suzhou, and experience the culinary delights that showcase the country’s diverse regions.
                And then, there's Germany, known for its rich history, stunning architecture, and delicious cuisine. Explore the fairytale castles, vibrant cities like Berlin and Munich, and the picturesque countryside.

            </p>
            <p class="text-start leading-6 text-xs font-serif">
                Stand in awe of the Great Wall, wander through the serene gardens of Suzhou, and experience the culinary delights that showcase the country’s diverse regions.
                And then, there's Germany, known for its rich history, stunning architecture, and delicious cuisine. Explore the fairytale castles, vibrant cities like Berlin and Munich, and the picturesque countryside.
                Stand in awe of the Great Wall, wander through the serene gardens of Suzhou, and experience the culinary delights that showcase the country’s diverse regions.
                And then, there's Germany, known for its rich history, stunning architecture, and delicious cuisine. Explore the fairytale castles, vibrant cities like Berlin and Munich, and the picturesque countryside.

            </p>
            <p class="text-start leading-6 text-xs font-serif">
                Stand in awe of the Great Wall, wander through the serene gardens of Suzhou, and experience the culinary delights that showcase the country’s diverse regions.
                And then, there's Germany, known for its rich history, stunning architecture, and delicious cuisine. Explore the fairytale castles, vibrant cities like Berlin and Munich, and the picturesque countryside.
                Stand in awe of the Great Wall, wander through the serene gardens of Suzhou, and experience the culinary delights that showcase the country’s diverse regions.
                And then, there's Germany, known for its rich history, stunning architecture, and delicious cuisine. Explore the fairytale castles, vibrant cities like Berlin and Munich, and the picturesque countryside.

            </p>
         
            <div class="flex gap-3 justify-center p-10">
                <div class="w-1/2 flex items-center justify-center">
                    <img src="assets/img/background.jpg" class="h-full object-cover" style="height: 600px;">
                </div>
                <div class="w-1/2 flex items-center justify-center">
                    <img src="assets/img/background.jpg" class="h-full object-cover" style="height: 600px;">
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col w-1/4 max-w-xs bg-white border-1 border-gray-300">
        <div class="flex flex-col">
            <div class="flex justify-center p-2 mt-4"><img src="assets/img/background.jpg"
                    class="w-60 h-60 rounded-full"></div>
            <div class="flex flex-col p-4 gap-4">
                <span class="text-center text-lg font-bold cursive italic">M.gladis jesy</span>
                <span class="text-center text-sm font-bold cursive italic">My wife Intan and I are usually in our second home Bali, but our journeys take us to
                    destinations all over the world.</span>
           
            </div>
        
        </div>
        
        <div class="flex flex-col gap-2 px-10">
            <p class="p-2 text-md font-bold text-center">Instagram</p>
            <div class="flex justify-center gap-2">
            <span><img src="assets/img/background.jpg" style="height: 100px;"></span>
            <span><img src="assets/img/background.jpg" style="height: 100px;"></span>
            </div>
            <div class="flex justify-center gap-2">
                <span><img src="assets/img/background.jpg" style="height: 100px;"></span>
                <span><img src="assets/img/background.jpg" style="height: 100px;"></span>
                </div>            
        </div>
        <div class="flex flex-col gap-2 items-center">
            <div>follow us</div>
            <div>
                <span>Insta</span>
                <span>face book</span>
                <span>Twitter</span>
        
            </div>
            <div>
                <span>YouTube</span>
                <span>Printrest</span>
                <span>Printrest</span>
            </div>
        
        </div>
        <div class="flex flex-col bg-gray-600 border-gray-300 border-1 px-10 ">

        </div>
    </div>
</div>
</div>