<div class="pt-24 px-24 pb-0">
    <div class="flex relative h-[700px]">
        <div class="flex-1 relative">
            <img src="assets/img/background.jpg" alt="Travel background" class="w-1/2 h-[600px] object-cover shadow-lg rounded-lg">
            <div class="bg-[#e6812f] w-1/2 h-2/3 rounded-lg absolute z-10 right-[5%] top-[42%] transform -translate-y-1/2">
                <div class="flex flex-col items-center h-full justify-center">
                    <p class="text-black text-center text-2xl font-bold">Search by Destination</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="flex items-center justify-center pt-24 px-24">
    <div class="flex-grow border-t border-gray-400 mx-4"></div>
    <h2 class="text-center text-4xl font-bold">Features</h2>
    <div class="flex-grow border-t border-gray-400 mx-4"></div>
</div>

<div class="flex items-center gap-6">
    <div class="flex w-2/4 p-24">
        <img src="assets/img/background.jpg" alt="Travel background" class="w-full h-auto shadow-lg rounded-lg">
    </div>
    <div class="flex flex-col w-2/4 pr-32 pt-16">
        <h1 class=" text-4xl font-normal italic">Thanks for Looking!</h1>
        <p class="p-4 text-md font-normal italic leading-7">
            I'm Gladis Jesy, the guy behind this website. I'm an American who's been traveling the world full-time for 8 years now.<br>
            I started this travel blog in 2019 to document my own international trips, share my photos, and help others learn how to travel the world and find some really good spots off the beaten path.<br>
            All of the writing and pictures on this site come from my own personal experience.<br>
            I'm currently based in Bali, Indonesia, where I met my wife Intan, who’s a Bali local. Now she joins me on these adventures too.<br>
            Together, we've done some bucket list hikes, climbed active volcanoes, seen exotic wildlife, and visited some spectacular castles, temples, and monuments around the world.<br>
            I've worked with and been featured by BBC Travel, NBC News, Time, and other companies.<br>
            I haven’t been everywhere, but it’s on my list. I hope this world travel blog can help and inspire you in your own journeys as well!
        </p>
    </div>
</div> -->
