<div class=" bg-white">
    <p class="text-center text-4xl p-16 font-bold cursive italic">Backpack Traveler</p>
    <div class="flex justify-center">
        <div class="flex flex-col items-center px-8 md:px-16 w-full ">
            <div class="flex flex-col gap-4 px-32">
                <img src="assets/img/italy1.jpg" alt="Background Image" class="w-full bh-auto">
            </div>
            <div class="flex justify-center px-24 pt-10">
                <div class="w-9/12 flex flex-col gap-4 px-16">
                    <p class="text-center cursive font-bold italic text-2xl">Details of the page</p>
                    <p class="text-start leading-6 text-xs font-serif">
                        In India, immerse yourself in a vibrant tapestry of cultures, colors, and flavors. From the
                        majestic Taj Mahal to the bustling streets of Delhi, each corner offers a glimpse into a rich
                        heritage that is both ancient and modern.
                        Traveling to China opens the door to breathtaking landscapes and timeless traditions. Stand in
                        awe of the Great Wall, wander through the serene gardens of Suzhou, and experience the culinary
                        delights that showcase the country’s diverse regions.
                        And then, there's Germany, known for its rich history, stunning architecture, and delicious
                        cuisine. Explore the fairytale castles, vibrant cities like Berlin and Munich, and the
                        picturesque countryside.
                    <p class="text-start leading-6 text-xs font-serif">
                        Stand in awe of the Great Wall, wander through the serene gardens of Suzhou, and experience the
                        culinary delights that showcase the country’s diverse regions.
                        And then, there's Germany, known for its rich history, stunning architecture, and delicious
                        cuisine. Explore the fairytale castles, vibrant cities like Berlin and Munich, and the
                        picturesque countryside.
                        Stand in awe of the Great Wall, wander through the serene gardens of Suzhou, and experience the
                        culinary delights that showcase the country’s diverse regions.
                        And then, there's Germany, known for its rich history, stunning architecture, and delicious
                        cuisine. Explore the fairytale castles, vibrant cities like Berlin and Munich, and the
                        picturesque countryside.

                    </p>
                    <p class="leading-7 text-2xl font-normal italic text-center cursive p-6">
                        Stand in awe of the Great Wall, wander through the serene gardens of Suzhou, experience the
                        culinary
                    </p>
                    <p class="text-start leading-6 text-xs font-serif">
                        Stand in awe of the Great Wall, wander through the serene gardens of Suzhou, and experience the
                        culinary delights that showcase the country’s diverse regions.
                        And then, there's Germany, known for its rich history, stunning architecture, and delicious
                        cuisine. Explore the fairytale castles, vibrant cities like Berlin and Munich, and the
                        picturesque countryside.
                        Stand in awe of the Great Wall, d delicious cuisine. Explore the fairytale castles, vibrant
                        cities like Berlin and Munich, and the picturesque countryside.

                    </p>

                    <p class="text-start leading-6 text-xs font-serif">
                        Stand in awe of the Great Wall, wander through the serene gardens of Suzhou, and experience the
                        culinary delights that showcase the country’s diverse regions.
                        And then, there's Germany, known for its rich history, stunning architecture, and delicious
                        cuisine. Explore the fairytale castles, vibrant cities like Berlin and Munich, and the
                        picturesque countryside.
                        Stand in awe o Explore the fairytale castles, vibrant cities like Berlin and Munich, and the
                        picturesque countryside.

                    </p>

                    <div class="flex gap-3 justify-center p-10">
                        <div class="w-1/2 flex items-center justify-center">
                            <img src="assets/img/italy2.jpg" class="h-full object-cover" style="height: 600px;">
                        </div>
                        <div class="w-1/2 flex items-center justify-center">
                            <img src="assets/img/italy3.jpg" class="h-full object-cover" style="height: 600px;">
                        </div>
                    </div>
                    <p class="text-start leading-6 text-xs font-serif">
                        In India, immerse yourself in a vibrant tapestry of cultures, colors, and flavors. From the
                        majestic Taj Mahal to the bustling streets of Delhi, each corner offers a glimpse into a rich
                        heritage that is both ancient and modern.
                        Traveling to China opens the door to breathtaking landscapes and timeless traditions. Stand in
                        awe of the Great Wall, wander through the serene gardens of Suzhou, and experience the culinary
                        delights that showcase the country’s diverse regions.
                        And then, there's Germany, known for its rich history,
                    </p>
                </div>
                <div class="flex flex-col w-3/12  gap-6">
                    <div class="flex flex-col gap-2 bg-gray-100 border-1 border-gray-800">
                        <div class="flex justify-center pt-4">
                            <img src="assets/img/background.jpg" class="w-60 h-60 rounded-full">
                        </div>
                        <div class="flex justify-between items-start w-full ">
                            <span
                                class="text-justify px-6 pb-10 pt-6 text-sm font-normal cursive italic  leading-6 flex-1">
                                hlow and I are usually in our second home Bali, but our journeys take us to destinations
                                all over the world. I am usually in our second home Bali, but our journeys take us to
                                destinations
                                all over the world. I am usually in our second home Bali, but our journeys take us to
                                destinations
                                all over the world.
                            </span>
                        </div>
                    </div>
                    <div class="flex flex-col gap-2">
                        <p class="text-sm font-normal py-2">FOLLOW US</p>
                 
                        
                        <div class="flex flex-col gap-4 px-4 pt-4 border border-gray-300 w-full h-32">
                          <!-- Row 1 -->
                          <div class="flex justify-between">
                            <div class="flex items-center gap-2">
                              <img src="assets/img/youTube.png" alt="YouTube" class="w-4 h-4" />
                              <span>YouTube</span>
                            </div>
                            <div class="flex items-center gap-2">
                              <img src="assets/img/linkedin.png" alt="LinkedIn" class="w-4 h-4" />
                              <span>LinkedIn</span>
                            </div>
                            <div class="flex items-center gap-2">
                              <img src="assets/img/instagram.png" alt="Instagram" class="w-4 h-4" />
                              <span>Instagram</span>
                            </div>
                          </div>
                          
                          <!-- Row 2 -->
                          <div class="flex justify-between">
                            <div class="flex items-center gap-2">
                              <img src="assets/img/youTube.png" alt="YouTube" class="w-4 h-4" />
                              <span>YouTube</span>
                            </div>
                            <div class="flex items-center gap-2">
                              <img src="assets/img/linkedin.png" alt="LinkedIn" class="w-4 h-4" />
                              <span>LinkedIn</span>
                            </div>
                            <div class="flex items-center gap-2">
                              <img src="assets/img/instagram.png" alt="Instagram" class="w-4 h-4" />
                              <span>Instagram</span>
                            </div>
                          </div>
                        </div>
                      </div>
<div class="flex flex-col gap-2"><p class="text-sm font-normal">RELATED POST</p>
<hr class="border-1 border-ray-300">
</div>

                    <div class="flex justify-between gap-4 w-full">
                        <div class="w-1/2">
                            <img src="assets/img/italy2.jpg" class="h-44">
                        </div>
                        <div class="w-1/2 flex flex-col">
                            <p class="text-md font-bold"> In India, immerse yourself</p>
                            <p class="text-sm font-normal">yourself in a vibrant tapestry of cultures, colors, and
                                flavors. From the majestic Taj Mahal to the bustling streets of Delhi </p>
                        </div>
                    </div>

                    <div class="flex justify-between gap-4 w-full">
                        <div class="w-1/2">
                            <img src="assets/img/italy2.jpg" class="h-44">
                        </div>
                        <div class="w-1/2 flex flex-col">
                            <p class="text-md font-bold"> In India, immerse yourself</p>
                            <p class="text-sm font-normal">yourself in a vibrant tapestry of cultures, colors, and
                                flavors. From the majestic Taj Mahal to the bustling streets of Delhi </p>
                        </div>
                    </div>

                    <div class="flex justify-between gap-4 w-full">
                        <div class="w-1/2">
                            <img src="assets/img/italy2.jpg" class="h-44">
                        </div>
                        <div class="w-1/2 flex flex-col">
                            <p class="text-md font-bold"> In India, immerse yourself</p>
                            <p class="text-sm font-normal">yourself in a vibrant tapestry of cultures, colors, and
                                flavors. From the majestic Taj Mahal to the bustling streets of Delhi </p>
                        </div>
                    </div>
                    <div class="flex justify-between gap-4 w-full">
                        <div class="w-1/2">
                            <img src="assets/img/italy2.jpg" class="h-44">
                        </div>
                        <div class="w-1/2 flex flex-col">
                            <p class="text-md font-bold"> In India, immerse yourself</p>
                            <p class="text-sm font-normal">yourself in a vibrant tapestry of cultures, colors, and
                                flavors. From the majestic Taj Mahal to the bustling streets of Delhi </p>
                        </div>
                    </div>
                  
                </div>

            </div>


        </div>
    </div>
</div>
<div class="flex justify-between mt-8">
    <span>
        <img src="assets/img/italy1.jpg" class="w-48 h-72">
    </span>
    <span>
        <img src="assets/img/romania2.jpg" class="w-48 h-72">
    </span>
    <span>
        <img src="assets/img/italy3.jpg" class="w-48 h-72">
    </span>
    <span>
        <img src="assets/img/romania3.jpg" class="w-48 h-72">
    </span>
    <span>
        <img src="assets/img/italy5.jpg" class="w-48 h-72">
    </span>
    <span>
        <img src="assets/img/romania1.jpg" class="w-48 h-72">
    </span>
    <span>
        <img src="assets/img/italy4.jpg" class="w-48 h-72">
    </span>
    <span>
        <img src="assets/img/romania4.jpg" class="w-48 h-72">
    </span>
</div>
























<!-- <div class="flex flex-col w-1/4 max-w-xs bg-white border-1 border-gray-300">
        <div class="flex flex-col">
            <div class="flex justify-center p-2 mt-4"><img src="assets/img/background.jpg"
                    class="w-60 h-60 rounded-full"></div>
            <div class="flex flex-col p-4 gap-4">
                <span class="text-center text-lg font-bold cursive italic">M.gladis jesy</span>
                <span class="text-center text-sm font-bold cursive italic">My wife Intan and I are usually in our second home Bali, but our journeys take us to
                    destinations all over the world.</span>
           
            </div>
        
        </div>
        
        <div class="flex flex-col gap-2 px-10">
            <p class="p-2 text-md font-bold text-center">Instagram</p>
            <div class="flex justify-center gap-2">
            <span><img src="assets/img/background.jpg" style="height: 100px;"></span>
            <span><img src="assets/img/background.jpg" style="height: 100px;"></span>
            </div>
            <div class="flex justify-center gap-2">
                <span><img src="assets/img/background.jpg" style="height: 100px;"></span>
                <span><img src="assets/img/background.jpg" style="height: 100px;"></span>
                </div>            
        </div>
        <div class="flex flex-col gap-2 items-center">
            <div>follow us</div>
            <div>
                <span>Insta</span>
                <span>face book</span>
                <span>Twitter</span>
        
            </div>
            <div>
                <span>YouTube</span>
                <span>Printrest</span>
                <span>Printrest</span>
            </div>
        
        </div>
        <div class="flex flex-col bg-gray-600 border-gray-300 border-1 px-10 ">

        </div>
    </div> -->