<div class="bg-[#e6812f] pt-16 pb-16">
    <div class="flex flex-col gap-4 items-center">
        <h1 class="text-4xl font-bold ">Newsletter</h1>
        <p class="text-md font-normal italic">Subscribe to my newsletter for the latest blog posts, tips, & travel guides. Let's stay updated!</p>
        <div class="flex justify-center gap-2 items-center">
            <input type="email" class="w-full h-10 p-2 bg-white text-black border border-gray-300 rounded" placeholder="Enter Your Email">
            <span>
                <button class="bg-black text-white px-4 py-2 rounded hover:bg-gray-800">Subscribe</button>
            </span>
        </div>
    </div>
  
</div>